@import '../../../assets/variables'

.city
  margin 0 10px 10px 0
  padding 10px
  width 170px
  border 1px solid $gray-soft
  background #fff

.city__name
  font-size 18px

.city__population
.city__location
.city__state
  span
    display block
    font-size 10px

  margin-bottom 5px

.city__state
  margin-bottom 10px
