.main
  width 900px

.main__cities
  flex-wrap wrap

.main__controls
  margin 20px 0
  justify-content flex-start

  &__limit
    width 100px
    margin 20px 10px 0 0

  &__sort
    margin-right 10px

  span
    font-size 10px
