// Colors
$aside-bg-color = #34495e
$aside-li-color = #243342
$gray-soft = #dee1e2

$body-bg = #ecf0f1
$brand-primary = #00b7c1
$nav-link-hover-bg = $aside-li-color
$nav-tabs-active-link-hover-bg = $aside-li-color
$nav-pills-active-link-hover-bg = $aside-li-color

// Panels

$panel-default-heading-bg = $brand-primary
$panel-default-text = #fff

// Borders
$border-radius-base = 0

// Navbar
$navbar-height = 60px
$navbar-default-bg = #000

@import 'bootstrap/variables'
