.header
  display flex
  flex-direction row
  padding 10px 50px
  background-color #000
  color #FFF

.header__logo
  flex-grow 1

  &__image
    width 276px
    margin 0
    line-height 40px

.header__menu
  display flex
  flex-grow 2
  justify-content center
  align-items center

  &__search
    flex-grow 2
    max-width 492px

  &__account
    flex-grow 1
    margin-left 50px
